#wrap{width:210px; height:160px; margin:0 auto; }
/*카메라 시작*/

#camera{width:100%; height:100%;margin:0 auto;background-color:#d7f1ff;}
/*카메라 위에 시작*/

#top{width:74px; height:39px; background-color:#E75647; margin-top:50%; transform:translateY(-50%); border-radius:10px 10px 0% 0%;}