#wrap{width:210px; height:160px; margin:0 auto; background-color:#d7f1ff;}
/*카메라 시작*/

#camera{width:74px; height:78px;margin:0 auto;background-color:#d7f1ff;transform:translateY(50%)}
/*카메라 위에 시작*/

#top{width:100%; height:50%; background-color:#E75647; border-radius:10px 10px 0% 0%;}
#topw{width:8%; height:15%; background-color:#A6EEAF;
 border-radius:100%; margin:10% 10%;}
/*카메라 위에 끝 아래 시작*/
#bottom{width:100%; height:50%; background-color:#DB5243;border-radius:0% 0% 10px 10px;}
/*카메라 아래 끝 */