#wrap{width:978px;  background-color:#E0E0E0; margin:0 auto; box-sizing: border-box;}
header, article, footer{margin-bottom:20px;background-color:#AEABAB}
/*헤더*/
header{width:100%; height:150px; ; padding:10px; box-sizing:border-box; }
#hone{width:125px; height:125px; background-color:#fff; float:left; }
#htwo{width:650px; height:60px; background-color:#7F7F7F; margin:4% 0; margin-left:15%;}
#htwo div{width:80px; height:30px; background-color:#fff; float:left; margin:2% 6%;}
#hthree{margin-top:10px; float:left;margin:-15% 0% 0% 87%}
#hthree div{width:40px; height:40px; margin-top:15px; margin-right:15px; float:left; background-color:#7F7F7F; ; }
/*처음시작*/
#one{width:100%; height:200px;}
#one div{float:left; width:150px; height:150px; background-color:#fff; margin:25px 10px; }
#one>div:first-child{margin-left:69px;}
/*처음끝 두번쪠 시작*/
#two{width:100%; height:300px;}
#tone{width:175px; height:100%; float:left; background-color:#7F7F7F; box-sizing:border-box;}
#tone div{width:100px; height:100px; background-color:#fff; margin:40px 37px;}
#ttwo{width:803px; height:100%; float:left;}
#ttwo div{width:140px; height:140px; float:left; background-color:#fff; margin-top:6px; margin-left:70px;}

/*두번쪠 끝 세번쪠 시작*/
#three{width:100%; height:140px;}
#eone{width:215px; height:100%; background-color:#7F7F7F; float:left;}
#eone div{width:190px; height:50px; margin:13px 0 0 12px;}
#eone>div:first-child{background-color:#fff;}
#eone>div:last-child{background-color:#5E5E5E; box-sizing: border-box; padding:1%; }
#eone>div>div:hover{transform: scale(4,1.2) translateX(-18px)}
#eone>div>div {width:40px; height:40px; background-color:#000; margin:2% 0 0 77%; :all 0.4s ease-in-out 0.1s;}

#etwo{width:763px; height:100%; float:left;}
#etwo>div{height:50px; float:left; background-color:#5E5E5E;margin:2% 0% 0% 1.3%; padding:5px; box-sizing:border-box; }
#etwo>div:nth-child(1){width:165px;}
#etwo>div:nth-child(2){width:300px;}
#etwo>div:nth-child(3){width:250px;}
#etwo>div:nth-child(4){width:600px;}
#etwo>div:nth-child(5){width:125px;}


.ea>div{width:40px; height:100%; background-color:#000; float:right;}

/*세번쪠 끝 네번쩨 시작*/
#four{width:100%; height:700px; box-sizing:border-box; padding:20px 10px 60px 10px;}

#four>div:nth-child(1){width:100px; height:45px; background-color:#000;float:left; float:left;}
#four>div:nth-child(2){width:250px; height:30px; background-color:#000;margin:6px 20px;float:left;}
#four>div:nth-child(3){width:60px; height:30px; background-color:#000; margin-right:10px;float:right;}
#four>div:nth-child(4){width:60px; height:30px; background-color:#000; margin-right:10px;float:right;}
.fourone {box-sizing:border-box; padding:60px 92px;}
.fourone > div:nth-of-type(n+1){width:150px; height:150px; background-color:#fff; float:left; margin:55px 0 0 35px; box-sizing:border-box;}
#four>div:nth-child(6){width:280px; height:40px; background-color:#000; margin:48% 34.2%; }
.fourtwo>div{width:40px; height:40px; background-color:#fff; margin:0 0 0 0; float:left; margin-left:8px;}
.fourtwo div:first-child{ margin-left:0; }

/*네번쪠 끝 풋터 시작*/
footer{width:100%; height:150px;}
footer>div{background-color:#fff; height:100px; float:left; margin-top:20px;}
footer>div:nth-child(1){width:100px; margin-left:136px;}
footer>div:nth-child(2){width:600px; margin-left:10px;}
/*풋터 끝 */